<!-- model - строка, содержащая даты или тип заметки, по которым был применен фильтр-->
@model String
@{
    //ViewData["Title"] = "Test Page";
    //Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Заметки не найдены</title>
</head>
<body>
    <h3>Заметки не найдены</h3>
    <div title="Заметки не найдены" class="createNoteForm">
        <div class="thingToDoFields">
            <label>Заметки @Model не найдены</label>
        </div>
    </div>
</body>
</html>